*{
    font-family: 'Garamond';
    font-size: 20px;
    font-weight: bold;

}

body{
    background-image: linear-gradient(#d5dddb, #f4f6f5 );
}

.cabecalho{
    width: 100%;
    
}

.cabecalho-config{
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}


.form{
    width: 100%;
  
}

.form-config{
    width: 80%;
    height: auto;
    background-color: #b1212a;
    margin: 0 auto;
    border: 2px solid #b1212a;
    border-radius: 7px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    
}

#logo{
    max-height:150px;
    width: auto;
    height: auto;
}

.botao{
    text-align: center;
    margin-top: 40px;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');


.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #d5dddb;
  outline: none;
  transition: 1s ease-in-out;
}


.btn:hover {
  transition: 1s ease-in-out;
  background: black;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
